<h2>Lista de Clientes</h2>
@if(carregando()){
  <p>Carregando...</p>
}

@if(erro()){
  <p style="color: red;">{{ erro() }}</p>
}


<button [routerLink]="['/contatos/criarContato']" class="btn">Novo Contato</button>
<button (click)="logout()" class="btn">Sair</button>
<br>
<br>


<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Categoria</th>
      <th>Favorito</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for(cliente of Clientes(); track cliente.id){
      <tr>
      <td>{{ cliente.id }}</td>
      <td data-label="Nome">{{ cliente.nome }}</td>
      <td data-label="Nome">{{ cliente.telefone }}</td>
      <td data-label="Nome">{{ cliente.email }}</td>
      <td data-label="Nome">{{ cliente.categoria }}</td>
      <td class="material-icons" [style.color]="cliente.favorito ? 'green' : 'red'">{{ cliente.favorito ? 'check_box' : 'cancel' }}</td>
      <td><button [routerLink]="['/contatos/editarContato', cliente.id]" class="btn">Editar</button></td>
      <td><button type="button" class="btn" (click)="excluir(cliente.id)">Excluir</button></td>
    </tr>
    }
    
  </tbody>
</table>

<br><br>
<button class="btn" (click)="buscarFavoritos()">Favoritos</button>
<button class="btn" (click)="carregarClientes()">Todos Clientes</button>