/* 

td{
    padding: 10px;
}

table{
    margin: auto;
} */

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

button {
  cursor: pointer;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}

/* Tabela */
table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  overflow: hidden;
}

/* Cabeçalho */
thead {
  background-color: #1976d2;
  color: white;
}

th, td {
  padding: 12px 10px;
  text-align: left;
}

/* Linhas */
tbody tr {
  border-bottom: 1px solid #eee;
  transition: 0.2s;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

/* Última linha sem borda */
tbody tr:last-child {
  border-bottom: none;
}


