<form #formRef="ngForm" (ngSubmit)="salvar(formRef)">
    
    <p>Nome</p>
    <input type="text" name="Nome" id="Nome" [(ngModel)]="Cliente().nome" #nomeRef="ngModel" required>
    @if (nomeRef.invalid && nomeRef.touched) {
        <p style="color: red;">Nome Obrigatório</p>
    }

    <p>Telefone</p>
    <input type="text" name="telefone" id="telefone" [(ngModel)]="Cliente().telefone" #telefoneRef="ngModel" required>
    @if (telefoneRef.invalid && telefoneRef.touched) {
        <p style="color: red;">Telefone Obrigatório</p>
    }

    <p>Email</p>
    <input type="text" name="email" id="email" [(ngModel)]="Cliente().email">


    <p>Categoria</p>
    <input type="text" name="categoria" id="categoria" [(ngModel)]="Cliente().categoria">

    <p>Favorito</p>
    <input type="checkbox" name="favorito" id="favorito" [(ngModel)]="Cliente().favorito"><br><br>

    <button type="submit" [disabled]="formRef.invalid" class="btn">Alterar</button><br><br>
    <button type="button" (click)="voltar()" class="btn">Cancelar</button>

</form>
