<div class="container">
  <div class="card" style="max-width:600px;margin:auto;">

    <h2>{{ Cliente()?.id ? 'Editar Contato' : 'Novo Contato' }}</h2>

    @if(Cliente()) {

    <form #formRef="ngForm" (ngSubmit)="salvar(formRef)">

      <!-- NOME -->
      <div class="form-group">
        

        <input
          type="text"
          name="nome"
          [(ngModel)]="Cliente().nome"
          #nomeRef="ngModel"
          required
          minlength="3"
          maxlength="100"
        >

        @if (nomeRef.invalid && nomeRef.touched) {
          <small style="color:red;">
            Nome obrigatório (mínimo 3 caracteres)
          </small>
        }
      </div>

      <!-- TELEFONE -->
      <div class="form-group">
        

        <input
          type="text"
          name="telefone"
          [ngModel]="telefone()"
          (input)="formatarTelefone($any($event.target).value)"
          #telefoneRef="ngModel"
          required
          maxlength="15"
        >
        @if (telefoneRef.invalid && telefoneRef.touched && telefone().length === 0) {
  <small style="color:red;">
    Telefone é obrigatório
  </small>
}

        @if (!telefoneValido() && telefone().length > 0) {
          <small style="color:red;">
            Formato válido: (99)9999-9999 ou (99)99999-9999
          </small>
        }
      </div>

      <!-- EMAIL -->
      <div class="form-group">
       

        <input
          type="email"
          name="email"
          [(ngModel)]="Cliente().email"
        >
      </div>

      <!-- CATEGORIA -->
      <div class="form-group">
        

        <input
          type="text"
          name="categoria"
          [(ngModel)]="Cliente().categoria"
        >
      </div>

      <!-- FAVORITO -->
      <div class="form-group" style="display:flex;align-items:center;gap:10px;">
        <label>Favorito</label>
        <input
          type="checkbox"
          name="favorito"
          [(ngModel)]="Cliente().favorito"
        >
        
      </div>

      <!-- BOTÕES -->
      <div style="display:flex;gap:10px;margin-top:20px;flex-wrap:wrap;">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="formRef.invalid || !telefoneValido()"
        >
          Salvar
        </button>

        <button
          type="button"
          class="btn btn-danger"
          (click)="voltar()"
        >
          Cancelar
        </button>
      </div>

    </form>

    }

  </div>
</div>